body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ddd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

section {
    max-width: 900px;
    background: white;
    padding: 30px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
}
